<div class="preview">
	<img src="https://i.imgur.com/O4clxzX.jpg" alt="" />
</div>
<div class="content">
	<div class="about">
		<div class="about-left">
			<h3>Latest News</h3>
			<ul class="list-2">
				<li> <strong> <em>15</em> <i>MAR</i> </strong> <b>Laoreet dolore magnaorem</b>
					<p>ipsum dolor ser adipiscing elit, sed diam nonummy nibh euismod tincidunt ut dolore set.sit
						amet consectetuer Aadipi scing elit, sed diam nonummy. nonummy nibh euismod tincidunt ut
						elit.</p>
				</li>
				<li> <strong> <em>25</em> <i>MAR</i> </strong> <b>dolore magnaorem</b>
					<p>ser adipiscing elit, sed diam nonummy<br>
						nibh euismod tincidunt ut dolore set.sit amet consectetuer Aadipiscing elit, sed diam nonummy.
						nonummy nibh euismod tincidunt ut elit.</p>
				</li>
				<li> <strong> <em>30</em> <i>MAR</i> </strong> <b>set Laoreet dolore magnaorem</b>
					<p>ipsum dolor ser adipiscing elit, sed diam nonummy nibh euismod tincidunt ut dolore set.sit
						amet consectetuer Aadipi scing elit, sed diam nonummy. nonummy nibh euismod tincidunt ut
						elit.</p>
				</li>
			</ul>
			<p><span class="one1">All News</span></p>
		</div>
		<div class="about-right">
			<div class="left">
				<img src="https://i.imgur.com/bpoNJUI.jpg" alt="" />
				<h3>Welcome</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
					ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
					tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
					iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
					feugiat nulla facilisis at vero eros et accumsa Duis autem vel eum iriure dolor in hendrerit in
					vulputate velit esse molestie consequat, vel illum dolore eu</p>
				<p><span class="one1">Read More</span></p>
			</div>
			<div class="right">
				<img src="https://i.imgur.com/r5AcaIM.jpg" alt="" />
				<h3>Our Profile</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
					ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
					tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
					iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
					feugiat nulla facilisis at vero eros et accumsa Duis autem vel eum iriure dolor in hendrerit in
					vulputate velit esse molestie consequat, vel illum dolore eu</p>
				<p><span class="one1">Read More</span></p>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>