<br>
<h2>Thêm Phòng Mới</h2>
<form class="w-50 mx-auto mt-3">
    <div class="form-group">
      <label>Tên Nhà</label>
      <input type="text" name="name" class="form-control"placeholder="Nhà Trắng" [(ngModel)]="product.name">
      <label>Giá Phòng</label>
      <input type="text" name="price" class="form-control"placeholder="12345" [(ngModel)]="product.price">
      <label>Kiểu Phòng</label>
      <input type="text" name="type" class="form-control"placeholder="Phòng Nhiều Người ở" [(ngModel)]="product.type">
      <label>Địa Chỉ</label>
      <input type="text" name="desc" class="form-control"placeholder="Hà Nội" [(ngModel)]="product.desc">
      <label>Link Dẫn Ảnh</label>
      <input type="text" name="img" class="form-control"placeholder="https://i.imgur.com/9nv0Ym3.jpg" [(ngModel)]="product.img">
      <label>Trạng Thái</label>
      <input type="text" name="status" class="form-control"placeholder="true / false" [(ngModel)]="product.status">
    </div>
    <button type="submit" class="btn btn-primary" (click)="addProduct()">Thêm Mới</button>
</form>
<br>