<div class="wrap">
  <div class="wrapper">
    <div class="header">
      <div class="h-top">
        <div class="logo">
          <a href="index.html"><img src="https://i.imgur.com/qVPo38x.png" alt="" /></a>
        </div>
        <div class="header-block">
          <div>
            <a href="#">User Login</a> <span>|</span> 
            <a href="#">Support</a>

          </div>
          <ul class="social-icons">
            <li><a href="#" class="icon-1"></a></li>
            <li><a href="#" class="icon-2"></a></li>
            <li><a href="#" class="icon-3"></a></li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
      <div class="menu-main">
        <ul class="dc_css3_menu">
          <li><a class="nav-link" routerLink="/pagehome" routerLinkActive="active">Home</a> </li>
          <li><a class="nav-link" routerLink="/about" routerLinkActive="active">About</a></li>
          <li><a class="nav-link" routerLink="/list-product" routerLinkActive="active">Building</a></li>
          <li><a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>
        <div class="search">
          <form>
            <input type="text" value="" onclick="this.value='';" name="s" id="s">
            <input type="submit" value="">
          </form>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
      <div class="preview">
	<img src="https://i.imgur.com/sphV3VM.jpg" alt=""/>
</div>
	<div class="content">
	<div class="contact">
			<h3>Thông tin liên lạc</h3>
			<iframe src="https://www.google.com/maps/d/embed?mid=1hSJI5w-gsG-RFj5jcwFJKP_7aEU" width="100%" height="200"></iframe><br /><small><a href="http://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Kosovo&amp;aq=4&amp;oq=k&amp;sll=15.665354,80.771484&amp;sspn=14.057603,26.784668&amp;ie=UTF8&amp;hq=&amp;hnear=Kosovo&amp;t=m&amp;z=8&amp;ll=42.602636,20.902977" style="color:#af3728;text-align:left">Hiển thị bản đồ lớn hơn</a></small>
			<div class="clear"></div>
<div class="contactdesc">
	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,</p>
	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas. udantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas</p>
<div class="contactinfo">
	<img src="https://i.imgur.com/Teb2UzF.png" title="post-Address">
	<ul>
		<li><span>HOME AGENTS</span></li>
		<li><span>Tránh Dịch Cô Rô Na Tại Hà Nội</span></li>
		<li><span>Check Trên Bản Đồ</span></li>
	</ul>
	<div class="clear"></div>
</div>
<div class="contactinfo">
	<img src="https://i.imgur.com/uE4wLBI.png" title="Address">
		<ul>
			<li><span>TELEPHONE:+1 1900 100</span></li>
			<li><span>FAX:+1 800 889 9898</span></li>
		</ul>
		<div class="clear"></div>
</div>
</div>
<div class="contactfrom">
		<form>
			<h2>Liên Hệ</h2>
			<label>Name</label>
			<input type="text">
			<label>Email</label>
			<input type="text">
			<label>Subject</label>
			<textarea></textarea>
			<br><p><span class="one1">Submit</span></p>
		</form>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>




  </div>
</div>
<div class="footer">
  <div class="wrap">
    <div class="footer-top">
      <div class="footer-left">
        <div class="footer-nav">
          <h4>Vì sao nên chọn chúng tôi ?</h4>
          <p>soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
          </p>
        </div>
        <div class="footer-grid">
          <div class="grid-l-img">
            <img src="https://i.imgur.com/WvVPPMN.jpg" alt="">
          </div>
          <div class="grid-l-desc">
            <p>eleifend option congue nihil imperdiet doming id quod mazim</p>
          </div>
          <div class="clear"></div>
        </div>
        <div class="footer-grid">
          <div class="grid-l-img">
            <img src="https://i.imgur.com/pdLmsSt.jpg" alt="">
          </div>
          <div class="grid-l-desc">
            <p>eleifend option congue nihil imperdiet doming id quod mazim</p>
          </div>
          <div class="clear"></div>
        </div>
        <div class="footer-grid">
          <div class="grid-l-img">
            <img src="https://i.imgur.com/4TGBDrX.jpg" alt="">
          </div>
          <div class="grid-l-desc">
            <p>eleifend option congue nihil imperdiet doming id quod mazim</p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="footer-left">
        <div class="footer-nav1">
          <h4>Chứng thực</h4>
          <div class="testimonial_top ">
            <div class="testimonial_bottom">
              <blockquote>
                exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel
                eum .</blockquote>
            </div>
          </div>
          <div class="testimonial_top ">
            <div class="testimonial_bottom">
              <blockquote>
                exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel
                eum .</blockquote>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="footer-right">
        <div class="footer-nav">
          <h4>Môi giới</h4>
          <ul>
            <li><a class="nav-link" routerLink="/home" routerLinkActive="active">Always free from repetition</a></li>
            <li><a class="nav-link" routerLink="/home" routerLinkActive="active">Always free from repetition</a></li>
            <li><a class="nav-link" routerLink="/home" routerLinkActive="active">The standard chunk of Lorem Ipsum</a></li>
            <li><a class="nav-link" routerLink="/home" routerLinkActive="active">The standard chunk of Lorem Ipsum</a></li>
            <li><a class="nav-link" routerLink="/home" routerLinkActive="active">Investigationes demonstraverunt </a></li>
            <li><a class="nav-link" routerLink="/home" routerLinkActive="active">The standard chunk of Lorem Ipsum</a></li>
            <li><a class="nav-link" routerLink="/home" routerLinkActive="active">Investigationes demonstraverunt </a></li>
            <li><a class="nav-link" routerLink="/home" routerLinkActive="active">Investigationes demonstraverunt </a></li>
            <li><a class="nav-link" routerLink="/home" routerLinkActive="active">Investigationes demonstraverunt </a></li>
            <li><a class="nav-link" routerLink="/home" routerLinkActive="active">Always free from repetition</a></li>
            <li><a class="nav-link" routerLink="/home" routerLinkActive="active">Always free from repetition</a></li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="footer-bot">
  <div class="wrap">
    <div class="copy">
      <p>© 2020 Home-Agents.  Đăng Mua Nhà Thuê Phòng</p>
    </div>
  </div>
</div>