<div class="preview">
	<img src="https://i.imgur.com/sphV3VM.jpg" alt=""/>
</div>
	<div class="content">
	<div class="contact">
			<h3>Thông tin liên lạc</h3>
			<iframe src="https://www.google.com/maps/d/embed?mid=1hSJI5w-gsG-RFj5jcwFJKP_7aEU" width="100%" height="200"></iframe><br /><small><a href="http://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Kosovo&amp;aq=4&amp;oq=k&amp;sll=15.665354,80.771484&amp;sspn=14.057603,26.784668&amp;ie=UTF8&amp;hq=&amp;hnear=Kosovo&amp;t=m&amp;z=8&amp;ll=42.602636,20.902977" style="color:#af3728;text-align:left">Hiển thị bản đồ lớn hơn</a></small>
			<div class="clear"></div>
<div class="contactdesc">
	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,</p>
	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas. udantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas</p>
<div class="contactinfo">
	<img src="https://i.imgur.com/Teb2UzF.png" title="post-Address">
	<ul>
		<li><span>HOME AGENTS</span></li>
		<li><span>Tránh Dịch Cô Rô Na Tại Hà Nội</span></li>
		<li><span>Check Trên Bản Đồ</span></li>
	</ul>
	<div class="clear"></div>
</div>
<div class="contactinfo">
	<img src="https://i.imgur.com/uE4wLBI.png" title="Address">
		<ul>
			<li><span>TELEPHONE:+1 1900 100</span></li>
			<li><span>FAX:+1 800 889 9898</span></li>
		</ul>
		<div class="clear"></div>
</div>
</div>
<div class="contactfrom">
		<form>
			<h2>Liên Hệ</h2>
			<label>Name</label>
			<input type="text">
			<label>Email</label>
			<input type="text">
			<label>Subject</label>
			<textarea></textarea>
			<br><p><span class="one1">Submit</span></p>
		</form>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>