<br>
<div class="row">
<br>
<div ngClass="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://i.imgur.com/j0YKNCo.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">name</a>
                </h4>
                <h5>$giá</h5>
                <p class="card-text">mô tả</p>
            </div>
        </div>
    </div> 
    <br>
<div ngClass="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://i.imgur.com/j0YKNCo.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">name</a>
                </h4>
                <h5>$giá</h5>
                <p class="card-text">mô tả</p>
            </div>
        </div>
    </div> 
    <br>
<div ngClass="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://i.imgur.com/j0YKNCo.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">name</a>
                </h4>
                <h5>$giá</h5>
                <p class="card-text">mô tả</p>
            </div>
        </div>
    </div> 
    <br>
<div ngClass="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://i.imgur.com/j0YKNCo.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">name</a>
                </h4>
                <h5>$giá</h5>
                <p class="card-text">mô tả</p>
            </div>
        </div>
    </div> 
    <br>
<div ngClass="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://i.imgur.com/j0YKNCo.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">name</a>
                </h4>
                <h5>$giá</h5>
                <p class="card-text">mô tả</p>
            </div>
        </div>
    </div> 
    <br>
<div ngClass="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="https://i.imgur.com/j0YKNCo.jpg" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">name</a>
                </h4>
                <h5>$giá</h5>
                <p class="card-text">mô tả</p>
            </div>
        </div>
    </div> 
</div>