<div id="c-carousel">
      <div id="wrapper">

        <div id="carousel">
          <img src="https://i.imgur.com/j0YKNCo.jpg" alt="e2" width="970" height="400" border="0" />
          <img src="https://i.imgur.com/IentN04.jpg" alt="e2" width="970" height="400" border="0" />
          <img src="https://i.imgur.com/tR3paVC.jpg" alt="e3" width="970" height="400" border="0" />
          <img src="https://i.imgur.com/7KLxTZu.jpg" alt="e4" width="970" height="400" border="0" />
        </div>
        <div id="thumbs">
          <div id="thumbscarousel">
            <img src="https://i.imgur.com/t4eHvSI.jpg" alt="s_e1" width="150" height="75" border="0" />
            <img src="https://i.imgur.com/qab1sDR.jpg" alt="e2" width="150" height="75" border="0" />
            <img src="https://i.imgur.com/Lo88deH.jpg" alt="e3" width="150" height="75" border="0" />
            <img src="https://i.imgur.com/XoAjn8h.jpg" alt="e4" width="150" height="75" border="0" />
          </div>
        </div>
        <div id="pager"></div>
      </div>
    </div>
    <div class="content">
      <div class="content-top">
        <h3>Gói ưu đãi mới</h3>
        <div class="grid1">
          <a href="#"><img src="https://i.imgur.com/GcEP4ZP.jpg" alt="" /></a>
          <div class="l-desc">
            <div class="l-text">
              <h4>Giá Phòng: $ </h4>
            </div>
            <div class="r-text">
              <h4>$45,200</h4>
            </div>
            <div class="clear"></div>
          </div>
          <div class="l-desc">
            <div class="l-text1">
              <h4>Kiểu Phòng:  </h4>
            </div>
            <div class="r-text1">
              <h4>Phòng đôi</h4>
            </div>
            <div class="clear"></div>
          </div>
          <div class="l-desc">
            <div class="l-text1">
              <h4>Địa Chỉ:  </h4>
            </div>
            <div class="r-text1">
              <h4>Chỗ Nào Đó Trên Thế Giới</h4>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="grid2">
          <a href="#"><img src="https://i.imgur.com/N5ZuxV4.jpg" alt="" /></a>
          <div class="l-desc">
            <div class="l-text">
              <h4>Giá Phòng: $ </h4>
            </div>
            <div class="r-text">
              <h4>$45,200</h4>
            </div>
            <div class="clear"></div>
          </div>
          <div class="l-desc">
            <div class="l-text1">
              <h4>Kiểu Phòng </h4>
            </div>
            <div class="r-text1">
              <h4>Phòng Đôi</h4>
            </div>
            <div class="clear"></div>
          </div>
          <div class="l-desc">
            <div class="l-text1">
              <h4>Địa Chỉ</h4>
            </div>
            <div class="r-text1">
              <h4>Chỗ Nào Đó Trên Thế Giới:</h4>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="grid3">
          <a href="#"><img src="https://i.imgur.com/daIFsBr.jpg" alt="" /></a>
          <div class="l-desc">
            <div class="l-text">
              <h4>Giá Phòng: $ </h4>
            </div>
            <div class="r-text">
              <h4>$45,200</h4>
            </div>
            <div class="clear"></div>
          </div>
          <div class="l-desc">
            <div class="l-text1">
              <h4>Kiểu Phòng: </h4>
            </div>
            <div class="r-text1">
              <h4>Phòng Đơn</h4>
            </div>
            <div class="clear"></div>
          </div>
          <div class="l-desc">
            <div class="l-text1">
              <h4>Địa Chỉ</h4>
            </div>
            <div class="r-text1">
              <h4>Chỗ Nào Đó Trên Thế Giới:</h4>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="content-bot">
        <div class="bot-grid">
          <h3>Mức Giá</h3>
          <div class="sidebar-nav">
            <ul>
              <li>UNDER $100,000</li>
              <li>$100,000 - $200,000</li>
              <li>$200,000 - $300,000</li>
              <li>$300,000 - $400,000</li>
              <li>$400,000 - $500,000</li>
              <li>$500,000 - $600,000</li>
              <li>$600,000 - $700,000</li>
              <li>$700,000 - $800,000</li>
              <li>$800,000 - $900,000</li>
              <li>OVER $1,000,000</li>
            </ul>
          </div>
        </div>
        <div class="bot-grid">
          <h3>Thành Phố nổi Tiếng</h3>
          <div class="sidebar-nav">
            <ul>
              <li>consectetuer adipiscing</li>
              <li>Lorem ipsum dolor sit amet</li>
              <li>diam nonummy nibh euismod </li>
              <li>tincidunt ut laoreet dolore</li>
              <li>aliquam erat volutpat. Ut wisi</li>
              <li>suscipit lobortis nisl ut aliquip </li>
              <li>ex ea commodo consequat</li>
              <li>Duis autem vel eum iriure</li>
              <li>hendrerit in vulputate velit</li>
              <li>esse molestie consequat, vel</li>
            </ul>
          </div>
        </div>
        <div class="bot-grid1">
          <h3>Hỗ Trợ Liên Lạc</h3>
          <div class="left-agent">
            <div class="left-grid">
              <img src="https://i.imgur.com/GV6w1yS.jpg" alt="" />
            </div>
            <div class="left-desc">
              <h4>hendrerit in </h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing</p>
            </div>
            <div class="clear"></div>
            <div class="left-grid">
              <img src="https://i.imgur.com/c56wEK8.jpg" alt="" />
            </div>
            <div class="left-desc">
              <h4>hendrerit in </h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing</p>
            </div>
            <div class="clear"></div>
          </div>
          <div class="right-agent">
            <div class="right-grid">
              <img src="https://i.imgur.com/Y9KbC5r.jpg" alt="" />
            </div>
            <div class="right-desc">
              <h4>hendrerit in </h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing</p>
            </div>
            <div class="clear"></div>
            <div class="right-grid">
              <img src="https://i.imgur.com/fgYpl4V.jpg" alt="" />
            </div>
            <div class="right-desc">
              <h4>hendrerit in </h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing</p>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>